{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>To do:</h1>
    <table class="table table-striped">
        {% if json is defined %}
        <th>Your to do in JSON format is</th>
        <th></th>
        <tr>
            <td><pre>{{ json }}</pre></td>
            <td>
                <a href="{{ app.request.baseurl }}/todo">
                    <button type="" class="btn btn-xs btn-info">Back</button>
                </a>
            </td>
        </tr>
        {% else %}
            <th>#</th><th>User</th><th>Description</th><th></th>
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>{{ todo.description }}</td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endif %}
    </table>
</div>

{% endblock %}